$imgHoverScale: 1.05;

.photos {
  .react-photo-gallery--gallery {
    img {
      filter: brightness(1);
      transition: All 0.5s ease-in-out;
    }
    img:hover {
      filter: brightness(1.05);
      transform: rotate(0deg) scale($imgHoverScale) skew(0deg) translate(0px);
    }
  }
}
