@import "../custom.scss";

.album-card {
  height: 300px;
  width: inherit;
  overflow: hidden;

  span:first-child {
    width: inherit;
    height: inherit;
  }

  .lazy-loader {
    filter: blur(25px);
    transition: all 0.5s;
  }

  .lazy-load-image-loaded {
    filter: blur(0px);
    transition: all 0.5s;
  }

  .cover {
    object-fit: cover;
    width: inherit;
    height: inherit;
    filter: opacity(20%) saturate(0.5) blur(2px);
    transition: all 0.38s ease-out;
  }

  .name {
    position: relative;
    top: -56%;
    font-size: 1.25rem;
    color: $link-color;
    transition: all 0.38s ease-in-out;
    display: block;
  }

  &:hover {
    cursor: pointer;

    .cover {
      filter: opacity(100%) saturate(1);
    }
    .name {
      background-color: #212529;
      color: white;
      top: -30%;
      opacity: 0.75;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .album-card {
    .name {
      color: #569def;
    }

    &:hover {
      .name {
        color: #a6cfff;
      }
    }
  }
}
