.about {
  .presentation {
    text-align: justify;
    margin: auto;
    max-width: 480px;
  }

  .models {
    p {
      text-align: justify;
      margin: auto;
      max-width: 480px;
    }
  }
}
