.nav-link {
    border-bottom: 4px solid white;
    transition: none;

    &.active {
        transition: none;
        border-bottom: 4px solid;
    }
}

@media (prefers-color-scheme: dark) {
    .nav-link {
        transition: none;
        border-bottom: 4px solid #222;

        &.active {
            transition: none;
            border-bottom: 4px solid;
        }
    }
}
