.menu {
    .nav-link {
        border-bottom: 4px solid white;
    }
    .active {
        border-bottom: 4px solid;
    }
}

@media (prefers-color-scheme: dark) {
    .menu {
        .nav-link {
            border-bottom: 4px solid #222;
        }
        .active {
            border-bottom: 4px solid;
        }
    }
}
