$imgHoverScale: 0.975;

.photos {
  .react-photo-gallery--gallery {
    img {
      transition: All 0.25s ease;
    }
    img:hover {
      transform: rotate(0deg) scale($imgHoverScale) skew(0deg) translate(0px);
      -webkit-transform: rotate(0deg) scale($imgHoverScale) skew(0deg)
        translate(0px);
      -moz-transform: rotate(0deg) scale($imgHoverScale) skew(0deg)
        translate(0px);
      -o-transform: rotate(0deg) scale($imgHoverScale) skew(0deg) translate(0px);
      -ms-transform: rotate(0deg) scale($imgHoverScale) skew(0deg)
        translate(0px);
    }
  }
}
